{% extends('backend/layout.html') %}

{% block content %}
<div class="content">
    <div class="container">
      <div class="page-title">
        <h3>Add/Edit</h3>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">Form Infomation</div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <form method="post" novalidate enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <div class="mb-3 row">
                  <label class="col-sm-2">Full Name</label>
                  <div class="col-sm-10">
                    {{form.fullname()}}
                    {% for error in form.fullname.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="line"></div>
                <br />
                <div class="mb-3 row">
                  <label class="col-sm-2">Email</label>
                  <div class="col-sm-10">
                    {{form.email()}}
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="line"></div>
                <br />
                <div class="mb-3 row">
                  <label class="col-sm-2">Password</label>
                  <div class="col-sm-10">
                    {{form.password()}}
                    {% for error in form.password.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="line"></div>
                <br />
                <div class="mb-3 row">
                  <label class="col-sm-2">Phone</label>
                  <div class="col-sm-10">
                    {{form.phone()}}
                    {% for error in form.phone.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="line"></div>
                <br />
                <div class="mb-3 row">
                  <label class="col-sm-2">Address</label>
                  <div class="col-sm-10">
                    {{form.address()}}
                    {% for error in form.address.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="line"></div>
                <br />
                <div class="mb-3 row">
                    <label class="col-sm-2">Image</label>
                    <div class="col-sm-10">
                      {{form.image()}}
                      {% for error in form.image.errors %}
                          <span style="color: red;">{{error}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="line"></div>
                  <br />
                  <div class="mb-3 row">
                    <label class="col-sm-2">Status</label>
                    <div class="col-sm-10">
                      {{form.is_active}}
                    </div>
                  </div>
                  <div class="line"></div>
                  <br />
                  <div class="mb-3 row">
                    <label class="col-sm-2">Role</label>
                    <div class="col-sm-10">
                      {{form.role()}}
                      {% for error in form.role.errors %}
                          <span style="color: red;">{{error}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="line"></div>
                  <br />
                <div class="mb-3 row">
                  <label class="col-sm-2">Date Create</label>
                  <div class="col-sm-10">
                    {{form.create_at()}}
                    {% for error in form.create_at.errors %}
                        <div class="text-danger">{{error}}</div>
                    {% endfor %}
                  </div>
                </div>
                <div class="line"></div>
                <br />
                <div class="mb-3 row">
                  <label class="col-sm-2">Date Edit</label>
                  <div class="col-sm-10">
                    {{form.update_at()}}
                    {% for error in form.update_at.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="line"></div>
                <br />
                <div class="mb-3 row">
                  <div class="col-sm-4 offset-sm-2"><button type="submit" class="btn btn-primary mb-2">
                    <i class="fas fa-save"></i> Save
                  </button>
                  <button type="submit" class="btn btn-danger mb-2">
                    <i class="fas fa-times"></i><a href="{{url_for('hethong.acc.index')}}" >Cancel</a> 
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}